.button{
    outline: inherit;
}

.button#btnLeft
{
    position: absolute;
    transform: translateX(-50%) translateY(-85%);
    transform: translateX(-65px) translateY(-85%);
    color: black;
    border-radius: 4px;
    background-color: grey;;
    padding: 20px;
}

.btnRight
{
    position: absolute;
    transform: translateX(50%) translateY(-85%);
    transform: translateX(15px) translateY(-85%);
    color: black;
    border-radius: 4px;
    background-color: grey;
    padding: 20px;
}