.App {
  text-align: center;
}

body
{
  background-image: url("../public/images/Campo5.png");
  background-repeat: no-repeat ;
  background-size: cover;
  background-attachment: fixed;

  font-family: 'Rajdhani', sans-serif;

  height: 100%;

  padding-top: 25px;
}

main
{
    background-color: rgba(0, 0, 0, 0.75);

    width: 75%;
    max-width: 1282px;
    min-width: 940px;

    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1
{
  color: white;
  font-size: larger;
}

h3
{
  color: white;
  font-size: large;
  margin: auto;
}

ul{
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  list-style-type: lower-alpha;
  display: block;
}

span
{
  color: green;
}